<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <DeterministicReport>false</DeterministicReport>
          <SkipAutoProps>true</SkipAutoProps>
          <Exclude>
            [*.PruebasUnitarias]*,
            [*.PruebasIntegracion]*,
            [*.Tests]*
          </Exclude>
          <ExcludeByFile>
            **/Migraciones/**/*.cs,
            **/Migrations/**/*.cs,
            **/*ModelSnapshot.cs,
            **/*.Designer.cs,
            **/*.g.cs,
            **/*.generated.cs,
            **/obj/**/*.cs,
            **/bin/**/*.cs
          </ExcludeByFile>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
